<style>
    .avatar{
        border-radius: 50%;
        width: 200px;
        display: block;
        margin: auto;
    }

    #userHeader{
        align-content: center;
    }

    #Username,
    #basicInfo,
    #bio,
    #projects,
    #skillsProjs{
        text-align: center;
        display: block;
    }

    #bio{
        margin-bottom: 10px;
        width: 80%;
        margin: auto;
    }

    #skillsProjs{
        width: 80%;
        margin: auto;
    }

    #projects{
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #SeeMore{
        float: right;
        font-size: 12px;
        margin-top: 3px;
        padding-right: 6px;
    }

    div.click-to-top span {
        display: none; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        padding-top: 8px;
        color: #5d5e61;
        padding-left: 3px;
    }
    div.click-to-top:hover span {
        display: block; 
    }

    #updateAvatarLabel{
        margin-bottom: 0px;
    }

    .updateName{

    }

    div #updateFNames.col,
    div #updateLName.col{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    div #updateFNames.col{
        padding-left: 5px !important;
    }

    div #updateLName.col{
        padding-right: 5px !important;
    }

</style>

<div class="container">
    <form>
    <div class="row" id="userHeader">
        <div class="col-4"></div>
        <div class="col-4 align-self-center">
            <div class="avatarDiv">
                <img src="/images/person.png" class="avatar">
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 align-self-center">
            <div class="form-group" style="margin-bottom: 0px !important;">
                <label id="updateAvatarLabel" for="updateAvatar">Update Picture</label>
                <input type="file" class="form-control-file" id="updateAvatar" style="padding: 6px !important; width: 100%;">
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row" id="Username"><h3>{{user.username}}</h3></div>
    <div class="row" id="basicInfo">{{user.fname}} {{user.lname}}</div>
    <div class="row" id="updateName">
        <div class="col-4"></div>
        <div class="col" id="updateFNames">
            <input type="text" class="form-control updateName" placeholder="First name">
        </div>
        <div class="col" id="updateLName">
            <input type="text" class="form-control updateName" placeholder="Last name">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row" id="bio">
        {{user.bio}} 
    </div>
    <div class="row" id="skillsProjs">
        <div class="card text-center">
            <div class="card-header" id="skills">
                <span style="font-weight: bold;">Skills:</span>
                {{#each user.hobbies}}
                    <span class="badge badge-pill badge-info">{{this}}</span>
                {{/each}}
            </div>
        </div>
    </div>
    </form>
</div>