<style>
    .avatar{
        border-radius: 50%;
        width: 200px;
        display: block;
        margin: auto;
    }

    #userHeader{
        align-content: center;
    }

    #Username,
    #basicInfo,
    #bio,
    #projects,
    #skillsProjs{
        text-align: center;
        display: block;
    }

    #bio{
        margin-bottom: 10px;
        width: 80%;
        margin: auto;
    }

    #skillsProjs{
        width: 80%;
        margin: auto;
    }

    #projects{
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #SeeMore{
        float: right;
        font-size: 12px;
        padding-right: 6px;
    }

    div.click-to-top span {
        display: none; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        padding-top: 8px;
        color: #5d5e61;
        padding-left: 3px;
    }
    div.click-to-top:hover span {
        display: block; 
    }

    .proj{
        padding: 6px !important;
    }
</style>

<div class="container">
    <div class="row" id="userHeader">
        <div class="col-4"></div>
        <div class="col-4 align-self-center">
            <div class="avatarDiv">
                <img src="/images/person.png" class="avatar">
            </div>
        </div>
        <div class="col-4">
            <div class="contact" style="height: 100%;">
                <div class="row" style="height: 20%;"></div>
                <div class="row click-to-top" style="height: 20%;">
                    <img src="/images/addUser.png" style="height: 40px;">
                    <span>Add User</span>
                </div>
                <div class="row click-to-top" style="height: 20%;">
                    <img src="/images/message.png" style="height: 40px;">
                    <span style="padding-top: 5px;">Message User</span>
                </div>
                <div class="row click-to-top" style="height: 20%;">
                    <img src="/images/blockUser.png" style="height: 40px;">
                    <span>Block User</span>
                </div>
                <div class="row" style="height: 20%;"></div>
            </div>
        </div>
    </div>
    <div class="row" id="Username"><h3>{{user.username}}</h3></div>
    <div class="row" id="basicInfo">{{user.fname}} {{user.lname}}</div>
    <div class="row" id="bio">
        {{user.bio}} 
        <a href="/settings">
        <img src="/images/editProf.png" style="width:20px; margin-bottom: 7px;">
        </a>
    </div>
    <div class="row" id="skillsProjs">
        <div class="card text-center">
            <div class="card-header" id="skills">
                <span style="font-weight: bold;">Skills:</span>
                {{#each user.hobbies}}
                    <span class="badge badge-pill badge-info">{{this}}</span>
                {{/each}}
            </div>
            <div class="card-body" id="projects">
                <h5 class="card-title">Projects</h5>
                <div class="row">
                <div class="col-3 proj">
                    <div class="card" style="width: 100%;">
                    <img src="../images/noimg.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-3 proj">
                    <div class="card" style="width: 100%;">
                    <img src="../images/noimg.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-3 proj">
                    <div class="card" style="width: 100%;">
                    <img src="../images/noimg.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-3 proj">
                    <div class="card" style="width: 100%;">
                    <img src="../images/noimg.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                </div>
                <div class="row" id="SeeMore">See more...</div>
            </div>
        </div>
    </div>
</div>